/* -------------------------BODY--------------------------- */

body {
    margin: 0;
    background: rgb(98, 87, 62);
    background: linear-gradient(162deg, rgba(98, 87, 62, 1) 0%, rgba(173, 181, 162, 1) 35%, rgba(183, 191, 171, 1) 59%, rgba(95, 83, 57, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Lust;

}


/*-----------------------NavButtons-----------------------*/
.nav {
    width: 100%;
    padding:  35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    backdrop-filter: blur 5px;
    background: rgb(255, 255, 255, 0.08);

}

.logo {
    margin-left: 120px;
}

.nav ul {
    margin-right: 170px;
    font-family: Montserrat;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;


}

.nav ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #607EAA;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.nav ul li:hover::after {
    width: 100%;
}

/*------------------------Banner--------------------------*/
.background {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    margin-top: 8%;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: #eae3d3;
    width: 100%;
}

.bannerText {
    color: #fff;
    position: absolute;
    right: 25rem;
    top: 29rem;
    text-align: right;
    font-family: Montserrat;
    font-size: 15px;

}

.profile {
    display: flex;
    justify-content: center;
    margin-left: 74%;
    margin-top: -20%;
    width: 20%;
}

.bannerName {
    color: #fff;
    position: absolute;
    left: 11rem;
    top: 27rem;
    font-weight: 100;
    font-size: 50px;
}
/*------------------------------------*/

.links-container>a{
    text-decoration: none;
}

/*-------------------------Hovers-------------------------*/

.hor{
    margin: 100px;
}

#hovers ul li {
    display:inline;
    align-items: center;
    margin: 20px;
    margin-left: 15%;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
    padding-left: 0;
}

#hovers {
    position: relative;

}

.text>a{
    text-decoration: none;
}


.text span {
    position: absolute;
    visibility: hidden;
}


.text:hover span {
    visibility: visible;
    top: -400px;
    left: 500px;
    z-index: 1;
}



.edu {
    position: absolute;
    left: -305px;
    top: 420px;
    text-align: left;
    color: #fff;
}


.edu-photo{
    position: absolute;
    left: 0px;
    width: 200px;
    top: 80px;
}


.hob {
    position: absolute;
    top: 420px;
    left: 40px;
    text-align: left;
    color: #fff;
    width: 195px;
}

.hob-photo {
    position: absolute;
    left: -20px;
    width: 330px;
    top: 150px;
}

.proj {
    position: absolute;
    top: 420px;
    right: -690px;
    width: 340px;
    color: #fff;

}

.proj-photo {
    position: absolute;
    left: 10px;
    width: 270px;
    top: 90px;
}


.firsthr {
    margin: 150px 100px ;

}

/*--------------------------------------------------------*/



/*--Education section--*/

.bcit, .BCIT {
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 400;
    margin-left: 90px;
    margin-top: 100px;
}

.bcit-text {
    margin-top: -140px;
    text-align: left;
    margin-left: 335px;
    margin-bottom: 200px;
    padding-left: 30px;
    border-left: 3px solid black;
}

/* infinite scroll */


@keyframes slide {
    0% {
      transform: translateX(0, 0, 0);
    }
    100% {
      transform: translateX(calc(-650px * 5)); /* The image width */
    }
  }

  /* @keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
} */
.container-edu {
    overflow: hidden;
    display: flex;
    height: 600px;
    width: 2000px;
    margin: 0 auto;
    gap: 0;
    transform-style:flat;
    animation: infinite forwards linear;
  }
  
  
  .container-edu div {
    height: 400px;
    min-width: 700px;
    margin-left: 100px;
    animation: slide 85s infinite forwards linear;
  }
  
  .edu1 {
   width: 400px;
  }
  
  .edu2 {
    width: 400px;
  }
  
  .edu3 {
    width: 400px;
  }
  
  .edu4 {
    width: 400px;
  }
  
  .edu5 {
    width: 400px;
  }

/*--Hobbies--*/



.foliobg {
    border-style: solid;
    border-width: 1px;
    padding: 20px 20px 20px 0px;
    border-color: #eae3d3;
    margin-right: 1000px;
    width: 1300px;
}

.dis {
    margin-left: 550px;
    font-size: 50px;
    margin-top: -76px;
}

.limit {
    margin-left: 880px;
    font-size: 50px;
    margin-top: -102px;
    color: white;
}


.row1 .cloud1 {
    margin-left: 150px;
    width: 600px;
}

.row1 {
    display: flex;
    gap: 50px;
}


.row2 .ellipse2 {
    width: 400px;
    margin-left: 150px;
}

.row2 .cloud2 {
    margin-right: 150px;
    width: 600px;
}

.row2 {
    display: flex;
    padding-right: 0px;
    margin-left: 10px;
}

.row2text {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 16px;
    color: #000;
    text-align: left;
    margin-top: 80px;
    margin-right: 115px;
    margin-left: 10px;
}

.rotated-text {
    rotate: -90deg;
    position: absolute;
    justify-content: end;
    font-size: 36px;
    left: 580px;
    top: 2450px;
}

.reflected-text {
    rotate: -270deg;
    transform: rotateY(180deg);
    position: absolute;
    justify-content: end;
    font-size: 36px;
    left: 607px;
    top: 2450px;
    -webkit-background-clip: text;
    color: black;
    opacity: 15%;
}


.row3 {
    display: flex;
    margin-right: 100px;
    height: 400px;

}

.row3 .cloud3 {
    margin-top:20px;
    margin-left: 150px;
    margin-right: 100px;
    width: 600px;
}

.archnemesis {
    margin-left: 100px;
}

.archnemesis, .arch {
    margin-top: 30px;
    width: 300px;
}


.archnemesis, p {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 16px;
    color: #000;
    text-align: center;
    
}

.row4 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.row4 .cloud4 {
    margin-top: 20px;
    width: 600px;
}

.row4 .ellipse3 {
    width: 740px;
}


/*--card hover image section --*/
.container-projects { 
    position: relative;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 700px;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 100px;

}

.content {
    display: flex;
    justify-content: center;
}
.container-projects .box {
    position: relative;
    width: 240px;
    height: 295px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
}

.container-.container-projects .box {
    transform: rotateY(10deg); 
}

.container-projects .box:hover ~ .box {
    transform: rotateY(-10deg); 
}

.container-projects .box:hover {
    transform: rotateY(0deg) scale(1.10); 
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}


.container-projects .box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-projects .box .imgBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #eae3d3,rgb(120, 127, 109));
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}

.container-projects .box:hover .imgBox:before {
    opacity:1;
}

.container-projects .box .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-projects .box .content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 1;
    display:flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.container-projects .box .content h2 {
    color: #fff;
    transition: 0.3s;
    margin-bottom: 5px;
    font-size: 25px;
    transform: translateY(200px);
}

.container-projects .box:hover .content h2 {
    transform: translateY(0px);
    transition-delay: 0.7s;

}

.container-projects .box .content p {
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
    transform: translateY(200px);
    text-align: left;
}

.container-projects .box:hover .content p {
    transform: translateY(0px);
    transition-delay: 0.7s;
}

.bannerp{
    position: absolute;
    top: 6rem;
}

.bannerp .bannerpo {
    position: absolute;
    left: 100px;
    width: 1700px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: #eae3d3;
    top: 4221px;

}

.rightsideup {
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 60px;
    position: absolute;
    left: 308px;
    top: 4268px;
}

.reflection {
    display: inline-flex;
}

#reflectport {
    content: "Portfolio";
    display: flex;
    transform: rotateX(180deg);
    -webkit-background-clip: text;
    color: black;
    opacity: 15%;
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 60px;
    position: absolute;
    left: 308px;
    top: 4352px;
}

.description {
    text-align: right;
    z-index: 1;
    position: absolute;
    left: 690px;
    width: 40rem;
    font-family: Montserrat;
    color: black;
    font-weight: lighter;
    top: 4320px;
    font-size: 16px;
}

/*-- Footer--*/


.con{
    position: absolute;
    top: 4750px;
    left: 660px;
    font-weight: 300;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
}

.conleft{
    width: 420px;
    position: absolute;
    top: 4780px;
    left: 160px;
}

.conright{
    width: 420px;
    position: absolute;
    top: 4780px;
    left: 900px;
}

.phone{
  color: #fff;
  position: absolute;
  align-items: center;
  text-align: center;
  left: 650px;
  top: 4870px;
}

.email{
    color: #fff;
    position: absolute;
    align-items: center;
    text-align: center;
    left: 632px;
    top: 4910px;
}

.socials{
    display: flex;
    justify-content: center;
    margin-top: 900px;
    gap: 30px;
    margin-left: -35px;
}

.socialhr{
    position: absolute;
    top: 5050px;
    width: 40%;
    left: 430px;
    border: white;
    justify-content: center;
}

.team ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.team ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.team ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #607EAA;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* .team {
    width: 85%;
    margin: 25px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 380px;
    font-family: Montserrat;
    font-weight: lighter;

}

.jimmy:hover {
   font-weight: 900;

}
.juliet:hover {
    font-weight: 900;
 
 }
.kana:hover {
    font-weight: 900;
 
 }
.mateo:hover {
    font-weight: 900;
 
 }

.juliet{
    border-left: 1px solid white;
    padding-left: 50px;
}

.kana{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 50px;
    padding-right: 50px;
} */

.copy{
    color: #fff;
    position: absolute;
    left: 660px;
    top: 312rem;
    bottom: 5rem;
    padding-bottom: 10rem;
} 

footer{
    margin-bottom: 5rem;
}

/*----------------------Responsiveness----------------------------------*/
* {
    box-sizing: border-box;
}  

@media only screen and (max-width: 600px) {
    .main-container {
        box-sizing: border-box;
}

@media only screen and (max-width:600px) {
    .text {
        display: flex;
        font-size: 20px;
        margin-left: -50px;
        justify-content: left;
    }
}

@media only screen and (max-width:600px) {
    .bannerText {
    display: flex;
    margin-top: -205px;

    }
}

@media only screen and (max-width:600px) {
    .edu .hob .proj {
        display: flex;
    }
}

/* @media screen and (max-width: 600px) {
    .profile, .background {
      width: 70%;
      display: flex;
    }
} */

@media only screen and (max-width:600px) {
    .edu-photo, .hob-photo, .proj-photo {
        display: flex;
        margin-left: -160px;
        margin-top: 300px;
    }
}

@media only screen and (max-width:600px) {
    .edu, .hob, .proj {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .bannerName {
        width: 50%;
        font-size: 30px;
        margin-top: -172px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .BCIT {
        width: 20%;
        font-size: 30px;
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .bcit-text {
        margin-top: 50px;
    text-align: left;
    margin-left: -54px;
    margin-bottom: 200px;
    padding-left: 30px;
    border-left: 3px solid black;
    }
}

@media screen and (max-width: 600px) {
    .foliobg {
        width: 100%;
        display: flex;
        margin-top: -1000px;
    }
}

@media screen and (max-width: 600px) {
    .dis, .limit {
        width: 100%;
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .container-projects {
        width: 60%;
        margin-left: 100px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .rightsideup, #reflectport {
        width: 100%;
        margin-left: -100px;
        display: flex;
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .bannerpo {
        width: 100%;
        display: flex;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .description {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .contact {
     display: none;
    }
}
